doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tier List Builder
    link(rel="stylesheet", href="/css/tierList.css")
  body
    h1 Tier List Builder
    if user
      p Welcome, #{user.name}!
    else
      p Welcome, Guest!
    .tier-list
      each tier in ['S', 'A', 'B', 'C', 'D', 'E', 'F']
        .tier
          .tier-label(class=`tier-label-${tier}`)= tier
          .tier-items(ondrop="drop(event)" ondragover="allowDrop(event)")
    .buttons
      button#addItem Add Item
      button#edit Edit
      button#export Export
      button#share Share
    #addItemModal.modal
      .modal-content
        span.close &times;
        h2 Add New Item
        input#itemName(type="text", placeholder="Item Name")
        input#searchQuery(type="text", placeholder="Search Query")
        button#searchImages Search Images
        #imageOptions
    #shareModal.modal
      .modal-content
        span.close &times;
        h2 Share Tier List
        button#emailShare Email
        button#forumShare Forum
    #emailModal.modal
      .modal-content
        span.close &times;
        h2 Share via Email
        input#emailInput(type="email", placeholder="Enter recipient's email")
        button#sendEmail Send
    script(src="https://html2canvas.hertzen.com/dist/html2canvas.min.js")
    script(src="/js/tierList.js")
