doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tier List Builder
    link(rel="stylesheet", href="/css/tierList.css")
  body
    h1 Tier List Builder
    .tier-list
      each tier in ['S', 'A', 'B', 'C', 'D', 'E', 'F']
        .tier
          .tier-label(class=`tier-label-${tier}`, data-original-name=tier)= tier
          .tier-items(id=`tier-${tier}`, ondragover="allowDrop(event)", ondrop="drop(event)")
    .buttons
      button#addItem Add Item
      button#edit Edit
      button#export Export

    #addItemModal.modal
      .modal-content
        span.close &times;
        h2 Add Item
        input#itemName(type="text", placeholder="Item name")
        input#searchQuery(type="text", placeholder="Search query")
        button#searchImages Search Images
        #imageOptions

    script(src="https://html2canvas.hertzen.com/dist/html2canvas.min.js")
    script(src="/js/tierList.js")
